.playlistBox {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    
    border: solid 1px;
    margin: 2px;    

    cursor: pointer;
}

.count {
    padding: 5px;
    margin-right: 1px;

    border-right: solid 2px;
}

.title {
    padding: 5px;
    border-left: solid 2px;

}