body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  /* Navbar styles */
  .navbar {
    background-image: linear-gradient(to right, #4327b4, #be46dd);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
  }
  
  .navbar-menu-item {
    margin-right: 20px;
  }
  
  .navbar-menu-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  .navbar-menu-item a:hover {
    color: #f39c12;
  }
  
  /* Your existing styles for the outer circle button */
  .outer_circle {
    width: 200px;
    height: 200px;
    background-color: #3498db;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
  }
  
  .outer_circle:active {
    background-color: #2980b9;
  }
  
  #symbol {
    color: white;
    font-size: 2rem;
  }
  
  #indicator {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #2ecc71;
    display: inline-block;
    margin-left: 10px;
    transition: background-color 0.3s ease-in-out;
  }
  
  #note {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
  }
  
  button {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    font-size: 2rem;
    border: 0;
    background-color: #ecf0f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  button:active {
    background: #bdc3c7;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    color: white;
  }
  
  #time {
    display: none;
  }
  